.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

[ngpCheckbox] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  cursor: pointer;
  border: var(--checkbox-border-width) solid var(--checkbox-border-color);
  border-radius: var(--checkbox-border-radius);
  background: var(--checkbox-bg);
  transition: all 0.2s ease;
  padding: 0;
  outline: none;
  flex: none;
  color: var(--checkbox-checkmark-color);
}

[ngpCheckbox][data-hover]:not([data-disabled]) {
  border-color: var(--checkbox-hover-color);
  background-color: color-mix(in srgb, var(--checkbox-checked-bg) 10%, transparent);
}

[ngpCheckbox][data-checked] {
  background: var(--checkbox-checked-bg);
  border-color: var(--checkbox-checked-bg);
}

[ngpCheckbox][data-focus-visible] {
  outline: 2px solid var(--checkbox-checked-bg);
  outline-offset: 2px;
}

[ngpCheckbox][data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

[ngpCheckbox] svg {
  width: 60%;
  height: 60%;
}

.checkbox-label {
  font-size: var(--checkbox-font-size);
  color: var(--checkbox-text-color);
  font-weight: var(--checkbox-font-weight);
}

[ngpCheckbox][data-disabled] ~ .checkbox-label {
  opacity: 0.5;
  cursor: not-allowed;
}
